<div class="container">
 <div class="jumbotron">

<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New password - 6 characters minimum", class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: "btn btn-default" %>
  </div>
<% end %>

 </div>
   <%= render "devise/shared/links" %>
</div>