<!DOCTYPE html>
 <html>
   <head>
     <title>Blocipedia</title>
     <%= csrf_meta_tags %>

     <meta name="viewport" content="width=device-width, initial-scale=1">
    
     
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>
     
     
     <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
            <li><%= link_to "Blocipedia", root_path, class: "navbar-brand" %></li>
         </div>  
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <span class="navbar-text">Signed in as: <strong><%= current_user.email %></strong> - <strong><%= current_user.role %> Member</strong></span>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li> 
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
          <% end %>
         </ul>
       </div>
     </nav>
     
     <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>
     
     
     <%= yield %>

   </body>
 </html>